{% extends "base_login.html" %}

{% block titulo %}LOGIN{% endblock titulo%} 

{% block formulario %}

  

  {% if message %}
    <b>{{message}}</b>
  {% endif %}

<div class="form-group" align="left" >
  <form action="" method="POST" class="form-horizontal" >
    {% csrf_token %}
    <br>
    {{form.as_p}}
    <input class="btn btn-default" type="submit" value="Login" ></input>

   <!--  <div class="toolbar clearfix">
      <div>
          <a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
              <i class="icon-arrow-left"></i>
              ¡Olvidé mi Contraseña!
          </a>
      </div>
      <div>
          <a href="{% url 'registro_usuario' %}" class="user-signup-link">
             Crear Usuario <i class="icon-arrow-right"></i>
          </a>
      </div>
    </div> -->


  </form>
</div>
{% endblock formulario %}

{% block js %} 
    <script type="text/javascript">
        $('input').addClass('form-control')
        $('select').addClass('form-control')
    </script>
{% endblock js %}
	

