<!DOCTYPE html>
<html lang="en">

	<head>{% block head %}
		<meta charset="utf-8" />
		<title>AliadosxEducacion</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="{{STATIC_URL}}assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{STATIC_URL}}assets/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace.min.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-skins.min.css" />

		<link rel="stylesheet" href="{{STATIC_URL}}assets/css/chosen.css">

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="{{STATIC_URL}}assets/js/ace-extra.min.js"></script>

		<script type="text/javascript">
			try{ace.settings.check('main-container' , 'fixed')}catch(e){}
		</script>



		
		
		



		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		
	{% endblock head %}</head>
	
	<body class="skin-1">{% block content %}

		<style type="text/css">
			.estilo1{
				padding-bottom: 25px;
			}
		</style>
	
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand" align="center"	>
						<img src="{{STATIC_URL}}assets/images/LOGO_EXE.png" alt="Empresarios por la Educación"
						width="225" height="118" >
						
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>


		<div class="main-container container" id="main-container" >{% block maincontainer%}
					 <div align="right" >
						<a href="{% url 'logout' %}" >
							<i class="icon-off" ></i>
							Logout
						</a>
					</div> 
						
					{% block main-content %}
						
						<div class="page-content">
						
							<div class="row">
								<div class="col-xs-12">
									<!-- PAGE CONTENT BEGINS -->
									{% block form %}



									{% endblock form %}

									{% block prueba %}
									{% endblock prueba %}
									<!-- PAGE CONTENT ENDS -->
								
								</div><!-- /.col -->
								
							</div><!-- /.row -->
							
						</div><!-- /.page-content -->
					
					{% endblock main-content %}

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		{% endblock maincontainer%}
		</div><!-- /.main-container -->
		
		<!-- basic scripts -->

		<!--[if !IE]> -->

		{% block script %}
		<script type="text/javascript"> 
			window.jQuery || document.write("<script src='{{STATIC_URL}}assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{{STATIC_URL}}assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="{{STATIC_URL}}assets/js/ace-elements.min.js"></script>
		<script src="{{STATIC_URL}}assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->


		
		{% endblock script %}
		{% block js %}
		{% endblock js %}


	{% endblock content %}</body>



	
</html>
