<!DOCTYPE html> 
<html>

    <head> {% block head %}
   		<meta charset="utf-8" />
        <title>{% block titulo %}  {% endblock %} </title>

        <meta name="description" content="User login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- basic styles -->

        <link href="{{STATIC_URL}}assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{STATIC_URL}}assets/css/font-awesome.min.css" />

        <!-- fonts -->

        <link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-fonts.css" />

        <!-- ace styles -->

        <link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace.min.css" />
        <link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-rtl.min.css" />
       
     {%endblock head%} </head>



    <body>
        {% block content %}
        {% endblock %} 
    </body> 
</html>