{% extends 'base_login.html' %}

{% block title %}Registro de usuario{% endblock title %}



{% block formulario %}


    <div class="page-header">
        <h2>Registro Usuario</h2>
    </div>
    <div class="form-group" align="left" >
        <form method="post"  class="form-horizontal">
            {% csrf_token %}
            {{ form.as_p }}
           <center><button type="submit" class="btn btn-primary">Registrar</button></center>
        </form>
    </div>
       

{% endblock formulario %}

{% block js %} 
    <script type="text/javascript">
        $('input').addClass('form-control')
        $('select').addClass('form-control')
    </script>
{% endblock js %}